{% extends "base.html" %}
{% block cont %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
  <div class="container-fluid" style="top: 15rem;position: relative;">
    <div class="section-header">
      <h3 class="section-title">About <span style="color: orangered;"> Us</span>
      </h3>
      <span class="section-divider"></span>
      <p class="section-description">
        At the heart of KRISHCO is a relentless pursuit of excellence in water solutions, agricultural implements, power
        generation equipment, and fluid technology applications. We go beyond expectations, setting new standards that
        redefine quality and efficiency. As a premium supplier, our commitment to our customers is evident in our
        mission: "Quality you can rely on."
      </p>
    </div>
    <!-- ======= Advanced Featuress Section ======= -->
    <section id="advanced-features">
      <div class="features-row section-bg advance"  style="background-color:rgba(127, 255, 212, 0.283)" >
        <div class="container" >
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="{% static 'image/agriculture.jpg' %}" alt="agricultural">
              <div>
                <h2>Diverse Product Portfolio:</h2>
                <p style="font-size: 1.5rem; color: black;">Embracing innovation, we are proud to introduce our latest
                  range of products - CPVC, UPVC, SWR, and AGRI pipes and fittings. These additions exemplify our
                  dedication to providing comprehensive solutions for your evolving needs. Whether it's efficient water
                  management, robust irrigation systems, or industry-leading home appliances, KRISHCO delivers products
                  that ensure the highest levels of reliability, flexibility, and efficiency.</p>
                <h4 style="font-size: 2rem; "><b>Innovation at the Core:</b></h4>

                <p style="font-size: 1.5rem; color: black;">Intelligence. Inspiration. Inventiveness. These principles
                  guide us in every aspect of our business. In the dynamic field of water movement technology, KRISHCO
                  is at the forefront, consistently setting benchmarks with our developments, products, systems, and
                  services. Our team of experienced and creative professionals, coupled with innovative technical
                  systems, ensures that we stay ahead of the curve.
                </p>
                <h4 style="font-size: 2rem;"><b>Making Life Easy:</b></h4>
                <p style="font-size: 1.5rem; color: black;">Our commitment to making life easy is the cornerstone of our
                  philosophy. We understand the importance of simplicity and functionality in our products and
                  solutions. At KRISHCO, we measure our success by the ease we bring into the lives of people. By
                  anticipating and addressing customer needs comprehensively, we develop innovations that redefine
                  industry standards.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="" alt="">
              <div>
                <h2>Crafting Quality, <span style="color: orangered;">Ensuring Reliability:</span></h2>
                <i class="bi bi-calendar4-week"></i>
                <p>At KRISHCO, our focus on cutting-edge machinery goes hand in hand with our dedication to quality. We
                  go beyond manufacturing - we engineer products that withstand the test of time. The amalgamation of
                  our skilled workforce, innovative technologies, and world-class infrastructure is what sets us apart.
                </p>
                <i class="bi bi-bar-chart"></i>
                <p>Choose Krishco Engineers Pvt Ltd for a partnership that transcends expectations - where precision
                  meets innovation, and quality is not just promised but delivered. Experience the future of water
                  solutions and agricultural implements with us.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features-row section-bg" style="background-color:rgba(127, 255, 212, 0.283)">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="{% static 'image/agricutul.png' %}" alt=" agricultural">
              <div>
                <h2>Quality <span style="color: orangered;">You Can Rely On:</span></h2>
                <p style="font-size: 1.5rem;color: black;">"QUALITY YOU CAN RELY ON" is not just a slogan; it's our
                  unwavering commitment to continuous improvement. We invest in enhancing our technical knowledge and
                  competence to propel us as an innovation and technology-driven enterprise. At KRISHCO, successful
                  innovations are born from a deep understanding of market requirements and a foresight into future
                  technology trends.
                  Choose KRISHCO Engineers Pvt Ltd for water solutions that go beyond expectations, for products that
                  stand the test of time, and for a commitment to excellence that ensures a quality of life you can rely
                  on. Experience the future of water management with us.
                </p>
                <p style="font-size: 1.5rem;color: black;">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Advanced Featuress Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Our Infrastructure:</h3>
            <p class="cta-text" style="font-size: 2rem;color: black;"> Behind every revolutionary product stands a
              robust infrastructure, and at KRISHCO, our manufacturing facility is a testament to this philosophy. We
              leverage modern machines and equipment to craft world-class products, ensuring precision, reliability, and
              efficiency.
              Our state-of-the-art infrastructure is equipped with:
            </p>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Our manufacturing<span style="color: orangered;">  Unit and Infrastructure</span></h3>
          <span class="section-divider"></span>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">CNC Lathe Machines:</a></h4>
              <p class="description">Utilizing Computer Numerical Control technology for precise and efficient
                machining, our CNC lathe machines form the backbone of our manufacturing process.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Shaping Machines: </a></h4>
              <p class="description">Transforming raw materials into intricate shapes with precision, our shaping
                machines guarantee the meticulous craftsmanship that defines our products.</p>
              <h4 class="title"><a href="">Special Purpose Machines (SPM): </a></h4>
              <p class="description"> Tailored to meet specific manufacturing needs, our SPMs enhance efficiency and
                flexibility in production.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><img src="{% static '/image/lovepik-electric-drill-png-image.png' %}" height="50%" width="80rem"
                  alt="drilling machines"> </div>
              <h4 class="title"><a href="">Drilling Machines:</a></h4>
              <p class="description">Ensuring accuracy in creating holes and openings, our drilling machines contribute
                to the flawless assembly of our products.</p>
              <h4 class="title"><a href="">Vertical Machining Center (VMC): </a></h4>
              <p class="description">Employing cutting-edge vertical machining technology for complex and precise
                manufacturing processes, our VMCs play a crucial role in our production capabilities.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><img src="{% static '/image/hand-grinding-machine.jpg' %}" height="50%" width="80rem"
                  alt="drilling machines"></div>
              <h4 class="title"><a href="">Grinding Machines:</a></h4>
              <p class="description"> Achieving the finest surface finishes and tight tolerances, our grinding machines
                add the perfect finishing touch to our products.</p>
              <h4 class="title"><a href="">Automatic Winding Machine: </a></h4>
              <p class="description">Ensuring consistency and reliability in winding processes, our automatic winding
                machines contribute to the durability of our products</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><img src="{% static '/image/horizontal-milling-machine-9KPQma2-600.jpg' %}" height="50%" width="80rem"
                  alt="drilling machines"></div>
              <h4 class="title"><a href="">Milling Machines: </a></h4>
              <p class="description">Enabling a diverse range of milling operations, our milling machines ensure the
                versatility required to meet the demands of our varied product lines.</p>
              <h4 class="title"><a href="">Lathe Machines:</a></h4>
              <p class="description"> The cornerstone of precision engineering, our lathe machines contribute to the
                accurate shaping and turning of materials.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">State of the Art Painting and Packing Department:</a></h4>
              <p class="description"> Our commitment to quality extends to the final stages of production. Our painting
                and packing department ensures that every product leaving our facility meets the highest standards of
                aesthetics and protection during transit.

              </p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- ------------------------- -->
    <!-- <div class="feed">
      <h1 class="heading">Our<span style="color: orangered;"> Team Members</span> </h1>
      <div class="testimonial owl-carousel owl-theme">
        <div class="first">
          <div class="img">
            <img src="image/man.jpeg" alt="">
          </div>
          <label for="">Rakhi singh</label>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum repellendus, facilis sunt facere
            dicta
            consequuntur accusantium quos consectetur debitis alias voluptate sint excepturi tempora possimus,
            consequatur
            pariatur voluptates quam atque.
          </p>

        </div>
        <div class="first">
          <div class="img">
            <img src="image/man.jpeg" alt="">
          </div>
          <label for="">Raj singh</label>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum repellendus, facilis sunt facere
            dicta
            consequuntur accusantium quos consectetur debitis alias voluptate sint excepturi tempora possimus,
            consequatur
            pariatur voluptates quam atque.
          </p>
        </div>
        <div class="first">
          <div class="img">
            <img src="image/man.jpeg" alt="">
          </div>
          <label for="">Rak singhr</label>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum repellendus, facilis sunt facere
            dicta
            consequuntur accusantium quos consectetur debitis alias voluptate sint excepturi tempora possimus,
            consequatur
            pariatur voluptates quam atque.
          </p>
        </div>
        <div class="first">
          <div class="img">
            <img src="image/man.jpeg" alt="">
          </div>
          <label for="">Rajshib singh</label>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum repellendus, facilis sunt facere
            dicta
            consequuntur accusantium quos consectetur debitis alias voluptate sint excepturi tempora possimus,
            consequatur
            pariatur voluptates quam atque.
          </p>
        </div>
        <div class="first">
          <div class="img">
            <img src="image/man.jpeg" alt="">
          </div>
          <label for="">Rakhi</label>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum repellendus, facilis sunt facere
            dicta
            consequuntur accusantium quos consectetur debitis alias voluptate sint excepturi tempora possimus,
            consequatur
            pariatur voluptates quam atque.
          </p>
        </div>
        <div class="first">
          <div class="img">
            <img src="image/man.jpeg" alt="">
          </div>
          <label for="">singh</label>
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum repellendus, facilis sunt facere
            dicta
            consequuntur accusantium quos consectetur debitis alias voluptate sint excepturi tempora possimus,
            consequatur
            pariatur voluptates quam atque.
          </p>
        </div>
      </div>
    </div> -->
    <!-- ---------------------------- -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- <section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Frequently<span style="color: orangered;"> Asked Questions</span> </h3>
          <span class="section-divider"></span>
          <p class="section-description" style="font-size: 2rem;">Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus
              urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>End Frequently Asked Questions Section
    </section>End Team Section -->
    <!-- --------------------------footer works------------------- -->
    <div class="rightFixed-btns" data-aos="zoom-out-left">
      <ul>
        <li id="li">
          <a href="https://wa.me/+919708035424?text=Please%20let%20me%20know%20more%20about%20your%20products%20and%20services!!"
          target="_blank">
            <i class="fa-brands fa-whatsapp fa-beat" aria-hidden="true"></i>
            <div class="rightFixed-btns__content" id="content">
              <small>WhatsApp</small><br>
              <span>9708035424</span>
            </div>
          </a>
        </li>
        <li id="li2" class="content2">
          <a href="#">
            <i class="fa-solid fa-headset fa-beat"></i>
            <div class="rightFixed-btns__content" id="content2">
              <small>Enquiry</small><br>
              <span>Now</span>
            </div>
          </a>
        </li>
        <li id="li3">
          <a href="tel:9708035424">
            <i class="fa fa-phone fa-beat" aria-hidden="true"></i>
            <div class="rightFixed-btns__content" id="content3">
              <small>Calling No.</small><br>
              <span>9708035424</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up fa-beat"></i></button>
    <div class="popup1">
      <div class="rak">
        <div>
          <i class="fa-solid fa-xmark" id="mark"
            onclick="$(this).parent().parent().parent().css('display','none');"></i>
          <h1>Enquiry Form</h1>
          <table id="table1">
            <tr>
              <td>
                <label id="l1">Name</label>
                <input type="text" id="t" oninput="legend('#l1','#t')" placeholder="Name" onfocusout="fgchek('#t')"
                  onfocus="fgain('#t')">
                <br><span></span>
              </td>
              <td>
                <label id="l2">Contact</label>
                <input type="text" id="t1" oninput="legend('#l2','#t1')" placeholder="Contact" minlength="10"
                  maxlength="10" onfocusout="fgchek('#t1')" onfocus="fgain('#t1')">
                <br><span></span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label id="l3">Email Id</label>
                <input type="text" id="t2" placeholder="Email Id" style="width: 95%;" oninput="legend('#l3','#t2')"
                  onfocusout="fgchek('#t2')" onfocus="fgain('#t2')">
                <br><span id="t15"></span>
              </td>
            </tr>
            <tr>
              <td style="height: 12rem;" colspan="2">
                <label id="l88">Message</label>
                <textarea placeholder="Message" id="t100" oninput="legend('#l88','#t100')"></textarea>
                <br><span></span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button>&#x2713; Submit</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="{% static 'js/scrolltop.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popup.js' %}" type="text/javascript"></script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
        $(".testimonial").owlCarousel({
          loop: true,
          autoplay: true,
          autoplayTimeout: 1500,
          margin: 60,

          responsive: {

            0: {
              items: 1
            },

            600: {
              items: 1
            },

            1000: {
              items: 2
            }
          }

        })
    

    </script>
{% endblock cont %}