{% load static %}
<footer>
    <div class="small_footer">
      <div class="small">
        <i class="fa-solid fa-phone"> &nbsp; +91 9708035424</i>
        <i class="fa-brands fa-whatsapp">&nbsp; +91 9708035424</i>
        <ul class="social">
          <li><a href="#"><i class="fa-brands fa-facebook" title="Facebook" style="color: #f4f6f9;"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram" title="Instagram" style="color:#f9f9f9;"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter" title="Twitter" style="color:#f0fbff;"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube" title="Youtube" style="color:#f6eeee;"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="felx-div">
      <ul class="ftr-box">
        <li>
          <h3>Quick Links</h3><br>
          <h4><a href="Product-page.html">Product</a></h4><br>
          <h4><a href="about.html">About Us</a></h4><br>
          <h4><a href="#cont" onclick="setTimeout(scrll,1);">Contact us</a></h4><br>
          <h4><a href="blog.html">Blogs</a></h4><br>
          <h4><a href="gallary.html">Gallery</a></h4><br>
        </li>
        <li>
          <div>
            <h3>Contact Us</h3><br>
            <div class="p"><i class="fa-solid fa-location-dot"></i>&nbsp; Krishco Engineers (P) Limited, Avinashi Road, Peelamedu, Coimbatore</div>
            <hr style="border: 1px dotted greenyellow; letter-spacing: 1rem;">
            <div class="p"><i class="fa-solid fa-location-dot"></i>&nbsp; Krishco Tower, Via Transport Nagar Gate No. 1,Patna-800026<br>
              <i class="fa-solid fa-envelope"></i> Email:-info@krishcogroup.com
            </div>
          </div>
        </li>
      </ul>
      <!-- <li> -->
      <!-- <div class="div-li">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.6987966567876!2d85.11724797517394!3d25.614923214655015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed58ee6d975d47%3A0xbc5045cc2b8ae11c!2sRays%20Edutech%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1698580783201!5m2!1sen!2sin"
              style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div> -->
      <!-- </li> -->
    </div>
    
  </footer>
  <div align="center" class="copyright-rays">
    <hr style="border-color: white;width: 100%;";>
    <h5 style="color: white;">Copyright &nbsp;&#169; &nbsp;Krischo Engineers (P) Limited &nbsp;| &nbsp;Developed & Maintained By &nbsp;<a href="https://raysonline.in/">Rays Edutech Private Limited</a></h5>
</div>
</body>
</html>