{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Krishco Engineers (p) Limited</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% comment %} <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/side.css' %}">
  <link rel="stylesheet" href="{% static 'css/popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="icon" href="{% static 'image/kri-logo.png' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
  <header>
    <div class="logo">
      <img src="{% static 'image/krishco-logo.jpg' %}" onclick="location.href='index.html'" style="user-select: none;">
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="index.html"><i class="fa fa-home" style="color: black;"></i></a></li>
        <li class="menu"><a class="a" style="color: black;">COMPANY <i class="fa-solid fa-angle-down"></i></a>
          <ul class="submenu">
            <li class="menu_item"><a href=" aboutus">About us</a></li>

            <li class="menu_item"><a href="gallery/">Our Gallery</a></li>
            <!-- <li class="menu_item"><a href="#award" onclick="setTimeout(sco,1);" >Award & Recognition</a></li> -->
          </ul>
        </li>
        <li class="menu"><a href="Productpage/" style="cursor: pointer; color: black;" class="a sr">PRODUCT</a>
        </li>
        </li>
        <li class="menu"><a href="blog/" class="a" style="color: black;">BLOG</a>
        </li>
        <li class="menu"><a href="#cont" class="a" onclick="setTimeout(scrll,1);" style="color: black;">CONTACT US</a>
        </li>
      </ul>
    </nav>
    <i class="fa-solid fa-bars" id="bars"></i>
  </header>
  <!-- ---------------------------------------social media link---------- -->
  <div class="rightFixed-btns" data-aos="zoom-out-left">
    <ul>
      <li id="li">
        <a href="https://wa.me/+919708035424?text=Please%20let%20me%20know%20more%20about%20your%20products%20and%20services!!"
          target="_blank">
          <i class="fa-brands fa-whatsapp fa-beat" aria-hidden="true"></i>
          <div class="rightFixed-btns__content" id="content">
            <small>WhatsApp</small><br>
            <span>9708035424</span>
          </div>
        </a>
      </li>
      <li id="li2" class="content2">
        <a href="#">
          <i class="fa-solid fa-headset fa-beat"></i>
          <div class="rightFixed-btns__content" id="content2">
            <small>Enquiry</small><br>
            <span>Now</span>
          </div>
        </a>
      </li>
      <li id="li3">
        <a href="tel:9708035424">
          <i class="fa fa-phone fa-beat" aria-hidden="true"></i>
          <div class="rightFixed-btns__content" id="content3">
            <small>Calling No.</small><br>
            <span>9708035424</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up fa-beat"></i></button>