{% extends "base.html" %}
{% block cont %}
{% load static %}
      <link rel="stylesheet" href="{% static '/css/detail.css' %}">
    <!-- ----- -->
    <div class="rightFixed-btns" data-aos="zoom-out-left">
        <ul>
          <li id="li">
            <a href="https://wa.me/+919708035424?text=Please%20let%20me%20know%20more%20about%20your%20products%20and%20services!!"
            target="_blank">
              <i class="fa-brands fa-whatsapp fa-beat" aria-hidden="true"></i>
              <div class="rightFixed-btns__content" id="content">
                <small>WhatsApp</small><br>
                <span>9708035424</span>
              </div>
            </a>
          </li>
          <li id="li2" class="content2">
            <a href="#">
              <i class="fa-solid fa-headset fa-beat"></i>
              <div class="rightFixed-btns__content" id="content2">
                <small>Enquiry</small><br>
                <span>Now</span>
              </div>
            </a>
          </li>
          <li id="li3">
            <a href="tel:9708035424">
              <i class="fa fa-phone fa-beat" aria-hidden="true"></i>
              <div class="rightFixed-btns__content" id="content3">
                <small>Calling No.</small><br>
                <span>9708035424</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up fa-beat"></i></button>

    <!-- =------ -->

    <div class="dmain">
        <div class="dimg" style="height: 40rem; width: 40rem; margin: auto;">
            <img src="{% static '/image/agricuture.jpg' %}" alt="">
        </div>
        <span class="dspan">
            In a dynamic agricultural world where resource use is important, agricultural pipes and fittings play an
            important role in the development of modern water systems. In this blog, we will take a deeper look at the
            importance of agricultural pipes and equipment, exploring how they can contribute to water efficiency, water
            conservation and development.
            <br>
            <div class="content">
                <table class="t1" style="font-size: 2rem;">
                    <tr>
                        <td style="text-align: center; font-size: 3rem;font-weight: bold;">Table of Content</td>
                    </tr>
                    <tr>
                        <td><a href="#learn"><i class="fa fa-arrow-right"></i> &nbsp; Importance of Agricultural Pipes
                                in Agriculture:</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#use"><i class="fa fa-arrow-right"></i> &nbsp; Saving water with agricultural
                                pipes:</a></td>
                    </tr>
                    <tr>
                        <td><a href="#Improving"><i class="fa fa-arrow-right"></i> &nbsp; Improving agricultural
                                production:</a></td>
                    </tr>

                    <tr>
                        <td id="learn"><a href="#summary"><i class="fa fa-arrow-right"></i> &nbsp; Summary</a></td>
                    </tr>
                </table>
            </div>
            <br><b style="color: blue;">Importance of Agricultural Pipes in Agriculture:</b>
            <br><br><b>1. Efficient Water Distribution:</b>
            Agricultural pipelines are specifically designed for agricultural use to ensure good water quality . .
            distribution across the field. Their structure and materials allow for efficient water flow management,
            reducing waste and ensuring each facility gets the water it needs.

            <br><br> <b> 2.Durable and Durable:</b> Agricultural pipes and fittings are manufactured from durable
            materials using materials such as CPVC or UPVC to protect against environmental problems and maintain their
            integrity for a long time.
            <br><br> <b> 3. Design Versatility:</b>

            Agricultural irrigation systems vary in complexity and size. Agricultural hoses come in a variety of sizes
            and designs, allowing farmers to choose the one that best suits their specific needs. This performance is
            applied to rivers, water systems, etc. Ensures compatibility with different water systems including



        </span>
        <div class="imgd">
            <div class="imgd2" id="use"><img src="{% static '/image/agri.jpeg' %}"></div>
        </div>
        <span class="dspan">
            <br><b style="color: blue;">Saving water with agricultural pipes:</b>
            <br><br><b>1. Precision Irrigation:</b>Agricultural pipes are a simple irrigation practice that involves
            transporting water directly to wells. . in the root area of ​​the plant. This approach minimizes water usage
            by dispensing only what is needed, reducing overall water usage.
        </span><br>
        <br><span class="dspan">

            <b>2. Drip Irrigation Efficiency:</b> Drip irrigation systems, which are generally used in agricultural
            irrigation systems, are very effective in saving water. Drip irrigation systems reduce evaporation and
            runoff by delivering slow, steady water directly to plant roots, thus maximizing water use.

        </span><br>
        <br><span class="dspan">

            <b> 3. Smart Water Management:</b> Agricultural water systems can be integrated into smart water systems
            using sensors and data analysis to improve water distribution. This technology promotes water conservation
            and permaculture by ensuring water is available according to the specific needs of crops.

        </span><br>

        <div class="sugstblog">
            <h2>Suggested <span style="color: blue;">Blogs</span></h2>
        </div>
            <div class="dsuggest">
            <div class="dsubsuggest"  onclick="location.href='detail.html'">
                <div class="dsubsuggest1" style="height: 30rem;"><img  src="{% static '/image/swr.jpeg' %}" onclick="location.href='detail.html'"></div>
                <div class="dsubsuggest2">
                    <p>SWR Pipes</p><span>Unplasticized polyvinyl chloride, commonly
                        known as
                        UPVC, has become a popular choice for domestic plumbing Its unique</span>
                    <!-- <br><button><b>see more..</b></button> -->
                </div>
            </div>
            <div class="dsubsuggest"  onclick="location.href='detail3.html'">
                <div class="dsubsuggest1" style="height: 30rem;"><img
                        src="{% static '/image/upvc-pipes.jpg' %}"  onclick="location.href='detail3.html'"></div>
                <div class="dsubsuggest2">
                    <p>UPVC Pipes</p><span>In a dynamic agricultural world where
                        resource use is important, agricultural pipes and fittings play an</span>
                    <!-- <br><button><b>see more..</b></button> -->
                </div>
            </div>
        </div>
            <br><span class="dspan">
                <br><b style="color: blue;">Improving agricultural production:</b><br><br>
                <b>1. Better Growth:</b>An efficient irrigation system that uses agricultural pipes to provide adequate
                and adequate water to crops. Optimum water supply is essential to support healthy plants, maximize crop
                yields and maximize the productivity of the land.

            </span><br>
            <br><span class="dspan" id="summary">

                <b>2. Year-Round Farming:</b> Agricultural pipelines allow farmers to use irrigation systems that
                support agricultural production all year round. Even during dry seasons or in areas with no rainfall,
                these pipes provide a constant supply of water, allowing farmers to diversify their crops and increase
                yields.
            </span><br>
            <br><span class="dspan">

                <b>3. Minimize Downtime:</b> The durability and reliability of agricultural water pipes help minimize
                downtime. Farmers can rely on these irrigation systems to maintain water balance, reduce the risk of
                crop stress due to lack of water, and increase the overall efficiency of agricultural operations.


            </span><br>

            <br><span class="dspan">

                <b>In summary, </b> All water calculations and agricultural pipes and equipment in agriculture have
                become a part of water pipes today. Their role in the efficient distribution of water, protection of
                water resources and increasing agricultural productivity is undeniable. As farmers continue to use
                high-pressure irrigation systems, agricultural irrigation systems are at the forefront, supporting
                sustainable agriculture and saving profits for farmers and the international community.

            </span><br>
            <div class="author">
                <!-- <div class="name">Author:-Aman Kumar</div>
                <div class="date">Issue Date:-29/12/2023</div> -->
            </div>
        </div>
    </div>

          <div class="popup1">
            <div class="rak">
              <div>
                  <i class="fa-solid fa-xmark" id="mark" onclick="$(this).parent().parent().parent().css('display','none');"></i>
                  <h1>Enquiry Form</h1>
                  <table id="table1">
                      <tr>
                          <td>
                            <label id="l1">Name</label>
                            <input type="text" id="t" oninput="legend('#l1','#t')" placeholder="Name" onfocusout="fgchek('#t')" onfocus="fgain('#t')">
                            <br><span></span>
                          </td>
                          <td>
                            <label id="l2">Contact</label>
                            <input type="text" id="t1" oninput="legend('#l2','#t1')" placeholder="Contact" minlength="10" maxlength="10" onfocusout="fgchek('#t1')" onfocus="fgain('#t1')">
                            <br><span></span>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                            <label id="l3">Email Id</label>
                            <input type="text" id="t2" placeholder="Email Id" style="width: 95%;" oninput="legend('#l3','#t2')" onfocusout="fgchek('#t2')" onfocus="fgain('#t2')">
                            <br><span id="t15"></span>
                          </td>
                      </tr>
                      <tr>
                        <td style="height: 12rem;" colspan="2">
                          <label id="l88">Message</label>
                          <textarea placeholder="Message" id="t100" oninput="legend('#l88','#t100')"></textarea>
                          <br><span></span>
                        </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                            <button>&#x2713; Submit</button>
                            <!-- <input type="button" value="&#x2713; Submit"> -->
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
          </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
            <script src="{% static 'js/popup.js' %}" type="text/javascript"></script>
            <script src="{% static '/js/scrolltop.js' %}"></script>
        <script>
            $(document).ready(function () {
                var a = 0;
                $('.fa-bars').click(function () {
                    if (a == 0) {
                        $('.nav').css({ 'right': '0rem', 'transition': '.3s all linear' })
                        a = 1;
                    }
                    else if (a == 1) {
                        $('.nav').css({ 'right': '-21rem', 'transition': '.3s all linear' })
                        a = 0;
                    }
                })
            });
        </script>
        {% endblock cont %}
