  {% extends "base.html" %}
  {% block cont %}
  {% load static %}
    <!-- --- -->
    <link rel="stylesheet" href="{% static '/css/detail.css' %}">
    <div class="rightFixed-btns" data-aos="zoom-out-left">
      <ul>
        <li id="li">
          <a href="https://wa.me/+919708035424?text=Please%20let%20me%20know%20more%20about%20your%20products%20and%20services!!"
          target="_blank">
            <i class="fa-brands fa-whatsapp fa-beat" aria-hidden="true"></i>
            <div class="rightFixed-btns__content" id="content">
              <small>WhatsApp</small><br>
              <span>9708035424</span>
            </div>
          </a>
        </li>
        <li id="li2" class="content2">
          <a href="#">
            <i class="fa-solid fa-headset fa-beat"></i>
            <div class="rightFixed-btns__content" id="content2">
              <small>Enquiry</small><br>
              <span>Now</span>
            </div>
          </a>
        </li>
        <li id="li3">
          <a href="tel:9708035424">
            <i class="fa fa-phone fa-beat" aria-hidden="true"></i>
            <div class="rightFixed-btns__content" id="content3">
              <small>Calling No.</small><br>
              <span>9708035424</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
      <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up fa-beat"></i></button>

    <!-- ----- -->

    <div class="dmain">
        <div class="dimg">
            <img src="{% static '/image/upvc2.jpg' %}" alt="">
            <h1>Advantages of UPVC Pipes in Domestic Plumbing!</h1>
        </div>
        <span class="dspan">
            Unplasticized polyvinyl chloride, commonly known as
            UPVC, has become a popular choice for domestic plumbing. Its unique features make it an ideal product for a
            variety of applications, providing homeowners with reliable, quality plumbing. Let's explore the main
            benefits that make UPVC pipes and fittings the best choice for modern plumbing. <br>
            <div class="content">
                <table class="t1">
                    <tr>
                        <td style="text-align: center; font-size: 3rem;font-weight: bold;">Table of Content</td>
                    </tr>
                    <tr>
                        <td><a href="#advntg"><i class="fa fa-arrow-right"></i> &nbsp; Advantages of UPVC pipes:</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#use"><i class="fa fa-arrow-right"></i> &nbsp; Usage of UPVC Pipes:</a></td>
                    </tr>
                    <tr>
                        <td><a href="#why"><i class="fa fa-arrow-right"></i> &nbsp; Why UPVC is ideal for modern
                                homes:</a></td>
                    </tr>
                    <tr>
                        <td id="advntg"><a href="#summary"><i class="fa fa-arrow-right"></i> &nbsp; Summary</a></td>
                    </tr>
                </table>
            </div>
            <br><b style="color: blue;">Advantages of UPVC pipes:</b>
            <br><br><b>1. Durability:</b>
            UPVC pipes are known for their exceptional durability. The material resists damage caused by weather
            conditions, chemicals and sunlight, ensuring the long life of the pipes.

            <br><br> <b> 2. Corrosion Resistance:</b> Unlike steel pipes, UPVC pipes do not rust. This corrosion
            protection is especially
            useful in areas where water is concentrated and ensures that pipes do not rust and deteriorate over time.
            <br><br> <b> 3. Smooth inner surface:</b>

            UPVC pipes have a smooth inner surface that reduces friction. This smoothness not only makes the water flow
            even, but also reduces the formation of clogging, thus improving the overall efficiency of your pipes.
            <br><br> <b> 4. Lightweight and easy to install:</b>
            PVC pipes are lightweight and easy to use and install. These features
            not only simplify the installation process but also reduce labor costs associated with shipping and
            handling.
            <br><br> <b> 5. Chemical Resistance:</b>

            UPVC is resistant to many chemicals found in domestic plumbing. This protection makes UPVC pipe suitable for
            many applications, including transporting various types of water and other liquids.



        </span>
        <div class="imgd">
            <div class="imgd2" id="use"><img src="{% static '/image/upvc3.jpg' %}"></div>
        </div>
        <span class="dspan">
            <br><b style="color: blue;">Usage of UPVC Pipes:</b>
            <br><br><b>Water Products:</b> UPVC pipes are mainly used for hot water and cold water in residences. Their
            durability and resistance to corrosion make them reliable at keeping water stable and clean.
        </span><br>
        <br><span class="dspan">

            <b>Drainage Systems:</b> UPVC's smooth internal structure and corrosion resistance make it a good choice for
            drainage systems. These pipes carry wastewater well and prevent clogging.

        </span><br>
        <br><span class="dspan">

            <b>Air Ducts:</b> UPVC ducts are also used in home ventilation systems. Their light weight and corrosion
            resistance also make them suitable for these applications, ensuring good indoor air quality.

        </span><br>
        <div class="sugstblog">
            <h2>Suggested <span style="color: blue;">Blogs</span></h2>
        </div>
        <div class="dsuggest">
            <div class="dsubsuggest"  onclick="location.href='detail2.html'">
                <div class="dsubsuggest1" style="height: 30rem;"><img src="{% static '/image/Sewer-Pipes.png' %}"  onclick="location.href='detail2.html'"></div>
                <div class="dsubsuggest2">
                    <p>SWR Pipes</p><span>A Complete Guide - Soil, Waste and Stormwater (SWR) systems are an essential
                        part of construction today enabling</span>
                    <!-- <br><button><b>see more..</b></button> -->
                </div>
            </div>
            <div class="dsubsuggest"  onclick="location.href='detail3.html'">
                <div class="dsubsuggest1" style="height: 30rem;"><img
                        src="{% static '/image/agripipe.png' %}"  onclick="location.href='detail3.html'"></div>
                <div class="dsubsuggest2">
                    <p>Agri Pipes</p><span>In a dynamic agricultural world where
                        resource use is important, agricultural pipes and fittings play an</span>
                    <!-- <br><button><b>see more..</b></button> -->
                </div>
            </div>
        </div><br>
        <span class="dspan">

            <b id="why">Rainwater Harvesting:</b> UPVC pipes are ideal for collecting rainwater. Their durability and
            ability to
            withstand a variety of weather conditions make them ideal for collecting and transporting rainwater around
            the home.
        </span><br>
        <br><span class="dspan">
            <br><b style="color: blue;">Why UPVC is ideal for modern homes:</b><br><br>
            <b>Low Maintenance:</b> UPVC pipes require very little maintenance, reducing the overall running cost of a
            home. Their resistance to corrosion and smooth interior surfaces contribute to this low maintenance
            requirement.

        </span><br>
        <br><span class="dspan">

            <b>Costs:</b> The durability and longevity of UPVC pipes make it a cost-effective choice. Homeowners benefit
            from reliable plumbing that requires fewer repairs and replacements over time.

        </span><br>
        <br><span class="dspan" id="summary">

            <b>Eco-Friendly:</b> UPVC is a recyclable material, making it an environmentally friendly choice. This is in
            line with the development towards sustainable living and responsible use of resources.


        </span><br>
        <br><span class="dspan">

            <b>Easy to install:</b> The light weight of UPVC pipes makes it easy to install, making it the first choice
            in construction projects where performance is a priority. is important.

        </span><br>
        <br><span class="dspan">

            <b>In summary, </b> UPVC pipes and fittings have become components of modern plumbing. Their durability,
            resistance to corrosion, and ease of installation make them ideal for homeowners looking for reliable,
            quality plumbing. Whether providing water, purifying water flow, or supporting ventilation, UPVC pipes play
            an important role in maintaining a healthy and functional environment

        </span><br>
        <div class="author">
            <!-- <div class="name">Author:-Aman Kumar</div> -->
            <!-- <div class="date">Issue Date:-29/12/2023</div> -->
        </div>
    </div>
      <div class="popup1">
        <div class="rak">
          <div>
              <i class="fa-solid fa-xmark" id="mark" onclick="$(this).parent().parent().parent().css('display','none');"></i>
              <h1>Enquiry Form</h1>
              <table id="table1">
                  <tr>
                      <td>
                        <label id="l1">Name</label>
                        <input type="text" id="t" oninput="legend('#l1','#t')" placeholder="Name" onfocusout="fgchek('#t')" onfocus="fgain('#t')">
                        <br><span></span>
                      </td>
                      <td>
                        <label id="l2">Contact</label>
                        <input type="text" id="t1" oninput="legend('#l2','#t1')" placeholder="Contact" minlength="10" maxlength="10" onfocusout="fgchek('#t1')" onfocus="fgain('#t1')">
                        <br><span></span>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                        <label id="l3">Email Id</label>
                        <input type="text" id="t2" placeholder="Email Id" style="width: 95%;" oninput="legend('#l3','#t2')" onfocusout="fgchek('#t2')" onfocus="fgain('#t2')">
                        <br><span id="t15"></span>
                      </td>
                  </tr>
                  <tr>
                    <td style="height: 12rem;" colspan="2">
                      <label id="l88">Message</label>
                      <textarea placeholder="Message" id="t100" oninput="legend('#l88','#t100')"></textarea>
                      <br><span></span>
                    </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                        <button>&#x2713; Submit</button>
                        <!-- <input type="button" value="&#x2713; Submit"> -->
                      </td>
                  </tr>
              </table>
          </div>
      </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <script src="{% static '/js/scrolltop.js' %}"></script>
        <script src="{% static 'js/popup.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var a = 0;
            $('.fa-bars').click(function () {
                if (a == 0) {
                    $('.nav').css({ 'right': '0rem', 'transition': '.3s all linear' })
                    a = 1;
                }
                else if (a == 1) {
                    $('.nav').css({ 'right': '-21rem', 'transition': '.3s all linear' })
                    a = 0;
                }
            })
        });
    </script>
    {% endblock cont %}
